<h1 style="text-align: center;"></h1>
<p>Hi <%= @user.name %>,</p>

<p>To countinue resetting your password, click the link below.</p>

<%
  url = edit_password_reset_url(
  @user.reset_token, email: @user.email)
%>
<%= link_to(nil, url) %>