<div class="item">
    <%= get_profile_image(user, class: "ui mini circular image") %>
    <div class="content">
        <div class="ui sub header"><%= user.name %></div>
        <%= link_to("View", user) %>
        <% if cuser.admin?() && !check_user(user) %>
            | <%= link_to(
                "Delete", delete_user_path(user), data: {
                    turbo_method: :delete,
                    turbo_confirm: 'Are you sure you want to delete this user?'
                }) %>
        <% end %>
    </div>
</div>