<% provide(:title, @user.name) %>
<%= render("partials/messages", messages: flash[:messages]) %>
<h2 class="ui center aligned icon header">
    <%= get_profile_image(@user, class: "ui circular image") %>
    <div class="content">
        <%= @user.name %>
        <div class="sub header"><%= @user.email %></div>
    </div>
</h2>