$font-url: 'https://fonts.googleapis.com/css2?family=DM+Sans&display=swap' !default;
$font-name: "DM Sans" !default;
@import "semantic-ui";

#main-content {
    margin-top: 5em;
    margin-bottom: 5em;

    & > .ui.grid {
        margin-bottom: 2em;
    }
}

#right-content {
    min-height: 25em;
}