</div>
<div class="ui bottom attached label green">
    <div class="ui fitted container right aligned">
        © <span class="date-year"><%= Time.current.year %></span> <span class="author"><%= $AUTHOR %></span>. All Rights Reserved.<br> 
        Made using 
            <a href="https://rubyonrails.org/">Rails</a>, 
            <a href="https://fomantic-ui.com/">Fomantic-UI</a>, 
            <a href="https://sass-lang.com/">Sass</a>, and 
            <a href="https://www.flaticon.com/">Flaticon</a>
    </div>
</div>