<header>
    <h1 class="ui header">
        <a href="<%= root_path %>" class="ui image">
            <%= image_tag("menu.png") %>
        </a>
        <div class="content">
            Sample App
            <div class="sub header">A toy app to test stuff.</div>
        </div>
    </h1>

    <div class="ui divider"></div>
</header>