<h2 class="ui header">
    <%= image_tag("menu.png") %>
    <div class="content">
        Sample App
        <div class="sub header">A toy app to test stuff.</div>
    </div>
</h2>

<div class="ui divider"></div>