<%
    user = get_user()
    name = controller.action_name
    navs = [
        {
            url: !user ? auth_sign_in_path() : nil,
            active: is_page("sessions", "new") || is_page("users", "new"),
            text: "Auth",
            icon: "green lock",
            data: nil
        },
        {
            url: user,
            active: is_page("users", "show", "following", "followers"),
            text: "Profile",
            icon: "green user circle",
            data: nil
        },
        {
            url: user ? new_micropost_path() : nil,
            active: is_page("microposts", "new", "create"),
            text: "Post",
            icon: "green newspaper circle",
            data: nil
        },
        {
            url: user ? users_path() : nil,
            active: is_page("users", "index"),
            text: "Users",
            icon: "green users",
            data: nil
        },
        {
            url: user ? edit_user_path(user) : nil,
            active: is_page("users", "edit", "update"),
            text: "Settings",
            icon: "green cog circle",
            data: nil
        },
        {
            url: about_path(),
            active: is_page("static_pages", "about"),
            text: "About",
            icon: "green info circle",
            data: nil
        },
        {
            url: user ? auth_sign_out_path() : nil,
            active: is_page("sessions", "destroy"),
            text: "Sign Out",
            icon: "green door open",
            data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to sign out?'}
        }
    ]
%>
<nav id="navigation" class="ui fluid vertical pointing compact menu">
    <% for nav in navs%>
        <%
            url = nav[:url]
            active = nav[:active]
            text = nav[:text]
            icon = nav[:icon]
            data = nav[:data]
            body = raw("#{semantic_icon(icon)}#{text}")
        %>
        <% if url %>
            <%= link_to(body, url, data: data, class: ["item", ("active" if active)].join(" ")) %>
        <% end %>
    <% end %>
</nav>