<%
    name = controller.action_name
    navs = [
        {
            url: url_for(action: "new", controller: "users"),
            active: "new" == name,
            text: "Auth",
            icon: "green lock"
        },
        {
            url: !!@user && !@user.new_record?() ? @user : nil,
            active: "show" == name,
            text: "Home",
            icon: "green home"
        },
        {
            url: url_for(action: "about", controller: "static_pages"),
            active: "about" == name,
            text: "About",
            icon: "green info circle"
        }
    ]
    icons = ["home green", "info circle green"]
%>
<nav id="navigation" class="ui fluid vertical pointing compact menu">
    <% for nav in navs%>
        <%
            url = nav[:url]
            active = nav[:active]
            text = nav[:text]
            icon = nav[:icon]
            body = raw("#{semantic_icon(icon)}#{text}")
        %>
        <% if url != nil %>
            <%= link_to(body, url, class: ["item", ("active" if active)].join(" ")) %>
        <% end %>
    <% end %>
</nav>